#cityName,
#currentDayTime {
  margin-left: 25px;
}
#tempCurrent {
  margin-left: 25px;
  list-style-type: none;
}
#tempNow {
  font-size: 64px;
}

.currentinfo img {
  margin-bottom: 20px;
}
.currentinfo .unit {
  font-size: 20px;
  position: relative;

  top: -34px;
  margin-left: 5px;
}
#enterCity {
  padding: 20px;
}

#city-input {
  background-color: #f2f1f1;
}

#button-search {
  background-color: #3a929e;
}

#button-local {
  background-color: white;
  color: #3a929e;
}

.temptype,
.divider {
  font-size: 20px;
  position: relative;
  top: -15px;
}

.temptype {
  text-decoration: none;
}

.currentinfo {
  display: block;
  margin-left: 25px;
  margin-top: 0;
  font-size: 14px;
  color: #2d737c;
}
