.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  margin-left: 5px;
}
.WeatherForecast-day {
  margin-bottom: 5px;
}
.ForecastDay {
  margin: 20px auto;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(253, 255, 253, 0.5);
}
